
<div class="container-fluid">
	<div class="row">

		<nav class="hidden-xs-down bg-faded sidebar">
			<ul class='hidden-xs-down bg-faded sidebar'>
				<li [routerLinkActive]="['link-active']" class="nav-item">
					<a [routerLink]="['/home']" class="nav-link">
						Home
					</a>
				</li>
				<li [routerLinkActive]="['link-active']" class="nav-item">
					<a [routerLink]="['/counter']" class="nav-link">
						Counter
					</a>
				</li>
				<li [routerLinkActive]="['link-active']" class="nav-item">
					<a [routerLink]="['/fetch-data']" class="nav-link">
						Fetch data
					</a>
				</li>
			</ul>

		</nav>
	</div>
</div>