<!--<h1>Hello, world!</h1>-->
<p>Welcome to your new single-page application, built with:</p>

<button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>

<ul>
	<li>
		<a class="nav-link" routerLinkActive="active" routerLink="home">{{'APP_NAV_HOME' | translate}}</a>
	</li>
	<li>
		<a class="nav-link" routerLinkActive="active" routerLink="examples">{{'APP_NAV_EXAMPLES' | translate}}</a>
	</li>
	<li>
		<div ngbDropdown class="d-inline-block">
			<a class="nav-link" id="languages" ngbDropdownToggle>{{currentLanguage.description}}</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="languages">
				<button *ngFor="let lang of languages" (click)="setLang(lang)" class="dropdown-item">
					{{lang.description}}
				</button>
			</div>
		</div>
	</li>
	<li>
		<select [(ngModel)]="currentLanguage" class="ui fluid search selection dropdown" (ngModelChange)="onButtonClick($event)">
			<option *ngFor="let lang of languages" [ngValue]="lang">
				{{lang.description}}
			</option>
		</select>
	</li>
</ul>

<div class="btn-group" dropdown>
	<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
		{{currentLanguage.description}} <span class="caret"></span>
	</button>
	<ul *dropdownMenu class="dropdown-menu" role="menu">
		
		<li *ngFor="let lang of languages" (click)="setLang(lang)" role="menuitem">
			<a class="dropdown-item" >{{lang.description}}</a>
		</li>
	</ul>
</div>


<ul>
	<li class="nav-item" *ngIf="(authState$ | async)?.loggedIn">
		<a class="nav-link" routerLinkActive="active" routerLink="/login">
			<i class="fa fa-user"></i> {{(authState$ | async)?.profile.name}}
		</a>
	</li>
	<li class="nav-item" *ngIf="!(authState$ | async)?.loggedIn">
		<a class="nav-link" routerLinkActive="active" routerLink="/register">
			<i class="fa fa-user"></i> {{'APP_NAV_REGISTER' | translate}}
		</a>
	</li>
	<li class="nav-item" *ngIf="!(authState$ | async)?.loggedIn">
		<a class="nav-link" routerLinkActive="active" routerLink="/login">
			<i class="fa fa-sign-in"></i>{{'APP_NAV_LOGIN' | translate}}
		</a>
	</li>
	<li class="nav-item" *ngIf="(authState$ | async)?.loggedIn && (authState$ | async)?.profile.role.indexOf('Admin') > -1">
		<a class="nav-link" routerLinkActive="active" routerLink="admin">
			<i class="fa fa-gear"></i> {{'APP_NAV_ADMIN' | translate}}
		</a>
	</li>
	<li class="nav-item" *ngIf="(authState$ | async)?.loggedIn">
		<a class="nav-link" (click)="accountService.logout()" routerLinkActive="active" href="javascript:void(null);">
			<i class="fa fa-sign-out"></i> {{'APP_NAV_LOGOUT' | translate}}
		</a>
	</li>
</ul>
